<p>
  <strong>
    <%= @item.title %>
  </strong>
</p>

<table>
  <col width="180">
  <col width="180">
  <col width="50">
  <col width="40">
  <tr>
    <th>Reviewer</th>
    <th>Review</th>
    <th>Rating</th>
    <th></th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.reviewer %></td>
      <td><%= review.review %></td>
      <td><%= review.rating %></td>
      <td><%= link_to 'Delete', item_review_path(@item, review), method: :delete, data: { confirm: 'Sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Add review', new_item_review_path(@item) %>
</p>
