<!DOCTYPE html>
<html>
<head>
  <title>Two word reviews.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Two word reviews.', root_path %></h1>

<%= yield %>

</body>
</html>
